* {
    font-family: 'Lexend';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffffff;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    align-items: stretch;
  }
  
  /* <------- Sidebar Navigation -------> */
  .sidebar {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #ffffff;
    color: #284062;
    padding: 40px;
    border-right: 2px solid #d1d5db;
    position: fixed;
    z-index: 999;
  }
  
  .sidebar h2 {
    font-family: 'Bungee';
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .sidebar ul {
    list-style: none;
    padding-left: 0;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 12px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 12px;
    transition: background 0.2s ease, transform 0.2s ease;
    cursor: pointer;
  }
  
  .nav-item img {
    width: 42px;
    height: 42px;
  }
  
  /* Active menu */
  .nav-item.active {
    background-color: #284062;
    color: #ffffff;
  }
  
  /* Hover animation for non-active */
  .nav-item:not(.active):hover {
    background-color: #E6E9EE;
    transform: translateX(5px);
  }
  
  /* <------- Main Content --------> */
  
  .main-content {
    min-width: 0;
    margin-left: 340px;
    flex: 1;
    padding: 40px;
    padding-left: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  /* [ Welcome ] */
  .welcome-card {
    background: #657EA3;
    border: 2px solid #284062;
    padding: 15px 30px;
    border-radius: 16px;
    
  }

  .welcome-btn-container {
    display: flex;
    justify-content: flex-end; 
  }

  .welcome-card h3 {
    font-family: 'Bungee';
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 3px;
  }

  .welcome-card p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
  }

  .welcome-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .welcome-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .guide-btn {
    font-size: 12px;
    font-weight: 300;
    background-color: #657EA3;
    color: white;
    padding: 5px 16px;
    border: 2px solid #284062;
    border-width: 2px 2px 4px 2px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .start-btn img {
    width: 24px;
    height: 24px;
  }

  
  /* [ How to Start With Us ] */
  .howto-card {
    background: #284062;
    padding: 30px 50px;
    border-radius: 16px;
  }
  
  .howto-content {
    display: flex;
    align-items: flex-start;
    gap: 70px;
  }
  
  .ticket-icon img {
    width: 240px;
    height: auto;  
  }

  .howto-content h3 {
    font-family: 'Bungee';
    color: #ffffff;
    letter-spacing: 2px;;
    font-size: 20px;
    margin-bottom: 12px;    
  }

  .howto-content p {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 12px;
  }
  
  .start-guide-btn {
    margin-top: 10px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-width: 2px 2px 4px 2px;
    color: #000000;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* [ Journey ] */
  .journey-card {
    background: #657EA3;
    border: 2px solid #284062;;
    padding: 15px;
    border-radius: 16px;
  }
  
  .journey-content {
    display: flex;
    background: #ffffff;
    border-radius: 12px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }

  .Bird-icon img {
    width: 240px;
    height: auto;  
  }

  .journey-content h3 {
    font-family: 'Bungee';
    font-size: 24px;
    color: #284062;
    letter-spacing: 2px;;
    margin-bottom: 12px;
  }
  
  .journey-content p {
    color: #284062;
    font-size: 12px;
    margin-bottom: 12px;
  }

  .button-group {
    display: flex;
    align-items: center; 
  }

  .button-group .Create {
    margin-top: 8px;
    width: 170px;
    height: 50px;
    background-color: #F7B801;
    border: 2px solid #000000;
    border-width: 2px 2px 4px 2px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 12px; 
  }
  
  .button-group .Image {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-width: 2px 2px 4px 2px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .Image img{
    width: 20px;
    height: 20px;  
  } 
  
  /* [ Progress Section ]*/
  .progress-tracker {
    background: #284062;
    padding: 15px;
    border-radius: 16px;
    color: white;
  }

  .progress-tracker h3 {
    font-family: 'Bungee';
    font-size: 32px;
    text-align: left;
    margin-bottom: 15px;
  }

  .station-map {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }

  .station-map .subheading {
    font-family: 'Bungee';
    color: #284062;
    font-size: 20px;
    margin-bottom: 16px;
  }

  .track-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    position: relative;
  }

  .station-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;
  }

  .coin, .empty-icon {
    width: 80px;
    height: 70px;
    border-radius: 50%;
    background: #E6E9EE;
    padding: 10px;
    object-fit: contain;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 0 #C4CBD6;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    cursor: pointer; 
  }
  
  .coin{
    box-shadow: 0 10px 0 #D6A30D;
    background: #ffc107;
    align-items: center;
  }

  .coin:active {
    box-shadow: none;           
    transform: translateY(10px); 
  }

  .empty-icon:active {
    box-shadow: none;           
    transform: translateY(10px); 
  }
  

  .coin img, .empty-icon img {
    width: 50px;
    height: 50px;
  }
  
  .time-box {
    font-family: 'Bungee';
    background: #ffffff;
    padding: 6px 12px;
    border: 2px solid #284062;
    border-width: 2px 2px 4px 2px;
    border-radius: 8px;
    font-size: 16px;
    color: #284062;
  }

  .next-station {
    font-family: 'Bungee';
    font-size: 20px;
    color: #284062;
    padding-top: 40px;
  }

  .update-box {
    background-color: #fff; 
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid #284062;;
    text-align: center;
  }

  .update-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .line-left, .line-right {
    border-top: 2px solid #284062; 
    width: 30%;
    flex-grow: 1; 
  }

  .line-left {
    margin-right: 10px;
  }

  .line-right {
    margin-left: 10px;
  }

  .update-title {
    font-family: 'Bungee';
    font-size: 20px;
    color: #284062;
    margin: 0 10px; 
    white-space: nowrap; 
  }

  .update-message {
    color: #6c757d;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
  }
  
  /* <------- Right Sidebar -------> */
  .right-sidebar {
    width: 500px;
    background: #ffffff;
    padding-top: 40px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-shrink: 0;
    gap: 16px;
    
  }

  /* [ Recommended book ] */
  .side-card-wrapper {
    background-color: #657EA3; 
    border: 2px solid #284062;
    border-radius: 16px;
    padding: 16px;
  }
  
  .side-card.recommend-book {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    
  }
  
  .section-title {
    font-family: 'Bungee';
    font-size: 20px;
    color: #284062;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .book-image {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .book-image img {
    width: 120px;
    height: auto;
    object-fit: cover;
  }
  
  .book-info {
    text-align: center;
  }
  
  .book-title {
    font-family: 'Bungee';
    font-size: 16px;
    color: #284062;
    margin-bottom: 10px;
  }
  
  .book-author {
    font-size: 12px;
    color: #284062;
    margin-bottom: 16px;
  }
  
  .divider {
    border: none;
    height: 2px;
    background-color: #E6E9EE;
    margin: 16px 0;
  }
  
  .book-description {
    text-align: left;
    font-size: 12px;
    color: #284062;
    line-height: 1.4;
  }

  /* [ Trending Blog ] */

  .side-card-wrapper2 {
    background-color: #E6E9EE; 
    border: 2px solid #284062;
    border-radius: 16px;
    padding: 16px;
    padding-bottom: 0px;
  }

  .section-title2 {
    font-family: 'Bungee';
    font-size: 20px;
    color: #284062;
    text-align: left;
  }

  .trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .trending-header .see-all {
    font-size: 12px;
    background-color: #fff;
    color: #284062;
    border: 2px solid #284062;
    border-width: 2px 2px 4px 2px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
  }

  .trending-blog .blog-post {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .avatar img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .user-meta .username {
    font-family: 'Bungee';
    font-size: 16px;
    color: #284062;
  }
  
  .user-meta .date {
    font-size: 12px;
    color: #657EA3;
  }
  
  .blog-message {
    font-size: 12px;
    color: #333;
    margin: 12px 0;
  }
  
  .blog-reactions {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }
  
  .reaction-pill {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #E6E9EE;
    border-radius: 999px;
    padding: 6px 10px;
    font-size: 12px;
    color: #284062;
    font-weight: 600;
  }
  
  .reaction-pill img {
    width: 14px;
    height: 14px;
  }

  /* [ Achievement-section ] */

  .achievement-section {
    background: #fff;
    border: 2px solid #284062;;
    border-radius: 12px;
    padding: 16px;
  }

  .achievement-header h3{
    margin-bottom: 0px;
  }
  
  .achievement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .achievement-header .see-all {
    font-size: 12px;
    color: #657EA3;
    cursor: pointer;
    text-decoration: none;
  }
  
  .achievement-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .achievement-icon {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  
  .bg-blue {
    background: linear-gradient(135deg, #4ebef1, #298acb);
  }
  
  .bg-orange {
    background: linear-gradient(135deg, #FFD867, #FFA710);
  }
  
  .bg-green {
    background: linear-gradient(135deg, #9FC853, #12B538);
  }
  
  .achievement-icon img {
    width: 28px;
    height: 28px;
  }
  
  .achievement-text {
    flex: 1;
    margin-right: 12px;
  }
  
  .achievement-title {
    font-family: 'Bungee';
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 4px;
  }
  
  .progress-bar {
    width: 100%;
    height: 14px;
    background-color: #E6E9EE;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 4px;
  }
  
  .progress-fill1 {
    height: 100%;
    background-color: #4ebef1;
    border-radius: 4px 0 0 4px;
    transition: width 0.3s ease;
  }

  .progress-fill2 {
    height: 100%;
    background-color: #FFA710;
    border-radius: 4px 0 0 4px;
    transition: width 0.3s ease;
  }

  .progress-fill3 {
    height: 100%;
    background-color: #12B538;
    border-radius: 4px 0 0 4px;
    transition: width 0.3s ease;
  }
  
  .progress-label {
    font-family: 'Bungee';
    font-size: 12px;
    color: #AAB3C0;
  }
  
  .achievement-btn {
    font-family: 'Bungee';
    background-color: #ffffff;
    border: 2px solid #284062;
    border-width: 2px 2px 4px 2px;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 12px;
    color: #284062;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .achievement-btn:active {
    transform: scale(0.96);
    box-shadow: none;
  }
  
  /* [ Leaderboards ] */
  .leaderboards{
    background: #ffffff;
    border: 2px solid #284062;;
    border-radius: 16px;
    padding: 16px;
  }

  .leaderboards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .leaderboards-header h3 {
    font-size: 20px;
    color: #284062;
    font-family: 'Bungee';
  }

  .leaderboards-header .see-all {
    font-size: 12px;
    color: #657EA3;
    cursor: pointer;
    text-decoration: none;
  }

  .leaderboard-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .leaderboard-item {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #ffffff;
    border-radius: 12px;
  }

  .gold-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0 2px 0 #D6A30D;
    margin-right: 4px;
  }

  .sliver-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0 2px 0 #7F90A0;
    margin-right: 4px;
  }

  .bronze-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0 2px 0 #986043;
    margin-right: 4px;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 4px;
  }

  .leaderboard-item .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .leaderboard-item .username {
    flex-grow: 1;
    font-family: "Bungee";
    font-size: 16px;
    color: #284062;
  }

  .leaderboard-item .points {
    font-family: "Bungee";
    font-size: 12px;
    color: #657EA3;
  }

  /* [ Premium-membership] */
  .premium-membership {
    background: #ffffff;
    border: 2px solid #1a3961;
    border-radius: 16px;
    padding: 16px;
  }
  
  .premium-membership h3 {
    font-family: "Bungee";
    font-size: 20px;
    color: #284062;
    margin-bottom: 12px;
  }
  
  .premium-membership .description {
    font-size: 12px;
    color: #333;
    margin-bottom: 16px;
  }
  
  .premium-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(64deg, #18417A, #6DCEE5,#5283C8);
    color: white;
    font-family: 'Bungee';
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
  }
  
  .premium-btn img {
    width: 24px;
    height: 24px;
  }
  
  /* Optional pressing animation */
  .premium-btn:active {
    transform: scale(0.96);
  }

  

  
  
  
  
  